body {
  background-color: #f0ebe3 ;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 25px;
  text-align: center;
}

h1 {
  color: #7b2cbf;
  font-size: 30px;
}

a {
  color: #386fa4;
}

a:hover {
  color: #3c6e71;
}

p {
  color: #386fa4;
  ;
}

h2 {
  color: #7b2cbf;
  font-size: 30px;
}

.card {
  background: #fef9ef;
  padding: 40px;
  border: 1px solid lightgrey;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}

.image {
  background-image: url(images/IMG_7483.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: top center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
}

.fab {
  padding: 2px;
  width: 40px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook-square {
  color: #0176E7;
}

.fa-instagram-square {
  color: #8d9ead;
}

.button{
background-color: #386fa4;
color: white;
padding: 12px 20px;
border-radius: 4px;
}

@media (max-width: 960px) {
  .card {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .card {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .card {
    width: 300px;
  }
}
